@font-face {/*Font used for <h1>*/
font-family: "chalk";
src: url("font/Rudiment.ttf");
}
@media screen and (max-width: 575px) and (orientation: portrait){
.carousel-inner img {
  width: 200%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
h1 {
  margin-left: 0;
}
}
@media screen and (min-width: 576px) and (orientation: landscape){
.carousel-inner img {
  width: 100%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
h1 {
  margin-left: 0;
}
}
@media screen and (min-width: 576px) and (orientation: portrait){
.carousel-inner img {
  width: 190%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
h1 {
  margin-left: 0;
}
}
@media screen and (min-width: 768px) and (orientation: landscape){
.carousel-inner img {
  width: 100%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
h1 {
  margin-left: 0;
}
}
@media screen and (min-width: 768px) and (orientation: portrait){
.carousel-inner img {
  width: 180%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
h1 {
  margin-left: 0;
}
}
@media screen and (min-width: 1024px) and (orientation: landscape){
.carousel-inner img {
  width: 100%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
h1 {
  margin-left: 0;
}
}
@media screen and (min-width: 1024px) and (orientation: portrait){
.carousel-inner img {
  width: 130%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
h1 {
  margin-left: 0;
}
}
@media screen and (min-width: 1200px) and (orientation: landscape){
.carousel-inner img {
  width: 100%;
}
.inline-menu {
  display: inline-block;
}
.drop_button {
  display: none;
}
.custom-dropdown {
  margin-left: 0;
}
h1 {
  margin-left: auto;
}
}
@media screen and (min-width: 1200px) and (orientation: portrait){
.carousel-inner img {
  width: 100%;
}
.inline-menu {
  display: inline-block;
}
.drop_button {
  display: none;
}
.custom-dropdown {
  margin-left: 0;
}
h1 {
  margin-left: auto;
}
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: sans-serif, Arial, Helvetica;
}
footer {
	background-color: #2d2d2d;
}
.topnav {
 	background-color: #2d2d2d;
}
.topnav a {
	float: left;
	color: #f4f4f4;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a:hover {
  	background-color: #ededed;
  	color: black;
}
p.footer {
	color: #f4f4f4;
  font-size: 1rem;
  margin-bottom: 0; 
}
p {
  font-size: 1.2rem;
}
h1 {
	font-family: chalk, Arial, sans-serif;
	font-size: 2.8rem;
	margin-bottom: 0;
}
.custom-container {
  background-color: #2d2d2d;
}
a {
	color: black;
	text-decoration: underline;
}
.fa-thumbs-up {
  color: green;
}
.fa-thumbs-down {
  color: red;
}
.fa-search {
  color: white;
  padding-top: 0.2rem;
}
.search {
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
.btn-link{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}
.fixed {
  position: fixed; 
  bottom: 0;
  width: 100%;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  justify-content: space-between;
  z-index: 2;
}
.custom-dropdown-content {
  display: none;
  background-color: white;
  position: absolute;
  right: 0;
  min-width: 160px;
}
.custom-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.custom-dropdown-content a:hover {
  text-decoration: none;
}
.custom-dropdown:hover .custom-dropdown-content {
  display: block;
}
.drop_button {
  font-size: 2.8rem;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  margin-top: -10px;
}
.drop_button:focus {
  border: none;
  outline: none;
}
.drop_button:hover {
  border: none;
}
.loader {
  /* settings to keep loader central when position is fixed */
  top: 50%;
  left: 50%;
  /* negative half of width and height used for margins to keep centered */
  margin-top: -50px;
  margin-left: -50px;
  position: fixed;/* settings to keep loader central when position is fixed */
  display: inline-block;
  z-index: 1;
  border: 16px solid #f2f2f2;
  border-radius: 50%;
  border-top: 16px solid #2d2d2d;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}