@font-face {
font-family: "chalk";/* custom font used for <h1>, Rudiment.ttf reminds chalk on blackboard(restaurants, bars) */
src: url("font/Rudiment.ttf");
}
@media screen and (max-width: 575px) and (orientation: portrait){
.carousel-inner img {
  width: 200%;/* image wider then viewport(cropped), 
  otherwise page would not have enough height, would be not proportional on mobile screens */
}
.inline-menu {
  display: none;/* traditional menu hidden on mobile screens for better user experience */
}
.drop_button {/* mobile menu visible */
  display: block;
}
.custom-dropdown {
  margin-left: auto;/* without this property, menu icon would be aligned to left side of the screen. 
  To make app more interesting title and menu swap places on smaller screen sizes */
}
.recipe-text {/* makes recipe's description same size as recipe's image on different screen sizes, 
need Bootstrap's class d-inline-block to work */
  width: 100%;
}
h1 {
  margin-left: 0;/* keeps app name aligned to left side, opposite it's original desktop full screen position */
}
.form-control {
  margin-right: 0.5rem;/* to keep search icon not too far from search form on desktop screens, 
  this margin is for mobile only where search field occupies almost whole width of viewport.
  This margin keeps it central by inserting margin similar to the one on the left */
}
.fixed-responsive {
  position: static;/* on smaller screens footer needs to be static instead of fixed, 
  where elements are bigger than what can be viewed, fixed footer would overlap with content */
}
}
@media screen and (min-width: 576px) and (orientation: landscape){
.carousel-inner img {
  width: 100%;/* in landscape mode rectangular image looks better when not cropped, content more proportional */
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
.recipe-text {
  width: 100%;
}
h1 {
  margin-left: 0;
}
.fixed-responsive {
  position: static;
}
}
@media screen and (min-width: 576px) and (orientation: portrait){
.carousel-inner img {
  width: 190%;/* slight adjustment according to screen size, more apropriate to crop less */
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
h1 {
  margin-left: 0;
}
.recipe-text {
  width: 100%;
}
.fixed-responsive {
  position: static;
}
}
@media screen and (min-width: 768px) and (orientation: landscape){
.carousel-inner img {
  width: 100%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
.recipe-text {
  width: 100%;
}
h1 {
  margin-left: 0;
}
.fixed-responsive {
  position: fixed;/* static positioning not needed as components are small enough to fit any viewport
  and footer can be attached to bottom without overlapping */
}
}
@media screen and (min-width: 768px) and (orientation: portrait){
.carousel-inner img {
  width: 180%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
.recipe-text {
  width: 100%;
}
h1 {
  margin-left: 0;
}
.fixed-responsive {
  position: fixed;/* static positioning not needed as components are small enough to fit any viewport
  and footer can be attached to bottom without overlapping */
}
}
@media screen and (min-width: 1024px) and (orientation: landscape){
.carousel-inner img {
  width: 100%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
h1 {
  margin-left: 0;
}
.recipe-text {
  width: 100%;
}
.fixed-responsive {
  position: fixed;/* static positioning not needed as components are small enough to fit any viewport
  and footer can be attached to bottom without overlapping */
}
}
@media screen and (min-width: 1024px) and (orientation: portrait){
.carousel-inner img {
  width: 130%;
}
.inline-menu {
  display: none;
}
.drop_button {
  display: block;
}
.custom-dropdown {
  margin-left: auto;
}
.recipe-text {
  width: 75%;
}
h1 {
  margin-left: 0;
}
.fixed-responsive {
  position: fixed;
}
}
@media screen and (min-width: 1200px) and (orientation: landscape){
.carousel-inner img {
  width: 100%;
}
.inline-menu {
  display: inline-block;
}
.drop_button {
  display: none;/* mobile dropdown menu hidden from view on desktop screen, as there is now enough space
  for traditional menu */
}
.custom-dropdown {
  margin-left: 0;/* dropdown moving to left side to make space to app name */
}
h1 {
  margin-left: auto;/* app name on right side of the viewport, standard menu on the left,
  different then on mobile devices */
}
.recipe-text {
  width: 75%;
}
.fixed-responsive {
  position: fixed;/* static positioning not needed as components are small enough to fit any viewport
  and footer can be attached to bottom without overlapping */
}
}
@media screen and (min-width: 1200px) and (orientation: portrait){
.carousel-inner img {
  width: 100%;
}
.inline-menu {
  display: inline-block;
}
.drop_button {
  display: none;
}
.custom-dropdown {
  margin-left: 0;
}
.recipe-text {
  width: 100%;
}
h1 {
  margin-left: auto;
}
.fixed-responsive {
  position: fixed;/* static positioning not needed as components are small enough to fit any viewport
  and footer can be attached to bottom without overlapping */
}
}
html {
  height: 100%;/* prerequisite for body to fit 100% of browser window */
}
body {
  min-height: 100%; /* body is 100% browser window when html's height is set to 100% */
  font-family: sans-serif, Arial, Helvetica;
}
footer, .topnav, .custom-container {
	background-color: #2d2d2d;/* same colour for top and bottom of viewport, better stylistically */
}
.topnav a {
	float: left;
	color: #f4f4f4;
	text-align: center;
	padding: 14px 16px;/* makes dropdown menu bigger and easier to use */
	text-decoration: none;
}
.topnav a:hover {
  	background-color: #ededed;
  	color: #2d2d2d;
}
.footer {
	color: #f4f4f4;
  font-size: 1rem;
  margin-bottom: 0; 
}
p {
  font-size: 1.2rem;
  -webkit-hyphens: auto;/* hyphens used for better formatted paragraphs */
  -ms-hyphens: auto;
  hyphens: auto;
}
h1 {
	font-family: chalk, Arial, sans-serif;
	font-size: 2.8rem;
	margin-bottom: 0;
}
a {
	color: #2d2d2d;
	text-decoration: underline;
}
.fa-thumbs-up {
  color: green;/* to represent positive aspect of upvoting, icon is coloured green */
}
.fa-thumbs-down {
  color: red;/* red colour for downvotes, similar to popular portals */
}
.fa-search {
  color: #f4f4f4;
  padding-top: 0.2rem;
}
.fixed {/* used for fixed footer */
  position: fixed; 
  bottom: 0;
  width: 100%;
}
.fixed-responsive {/* settings only used when class has position:fixed, used here to avoid duplicating in every single media query */
  bottom: 0;
  width: 100%;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  justify-content: space-between;
  z-index: 2;/* without increasing z-index element would stay behing carousel image */
}
.custom-dropdown-content {
  display: none;
  background-color: #f4f4f4;
  position: absolute;
  right: 0;
}
.custom-dropdown-content a {
  width: 160px;
  text-align: left;
  color: #2d2d2d;
  text-decoration: none;
  display: block;
}
.custom-dropdown-content a:hover {
  text-decoration: none;
}
.custom-dropdown:hover .custom-dropdown-content {
  display: block;
}
.drop_button {
  font-size: 2.8rem;
  border: none;/* getting rid of all elements traditionally associated with buttons, more original look */
  background-color: transparent;/* settings that make button more blended with other elements */
  color: #f4f4f4;
  margin-top: -10px;
}
.drop_button:focus {
  border: none;/* lack of decorations for modern design */
  outline: none;/* more elements being removed for design reasons */
}
.drop_button:hover {
  border: none;/* minimalistic look for more modern feel */
}
.btn-link{/* search button settings, background colour has to match navbar's colour */
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}
.btn-link:focus {
  outline: none;
}
.loader {
  /* settings to keep loader central when position is fixed */
  top: 50%;
  left: 50%;
  /* negative half of width and height used for margins to keep centered */
  margin-top: -50px;
  margin-left: -50px;
  position: fixed;
  display: inline-block;
  z-index: 1;/* to prevent loader from being covered by other elements */
  border: 16px solid #f4f4f4;
  border-radius: 50%;
  border-top: 16px solid #2d2d2d;
  width: 100px;
  height: 100px;
  -moz-animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}