{% extends "base.html" %}
{% block title%}Add Recipe{% endblock %}
{% block content %}
	<div class="container my-4">
		<form action="{{url_for("add_recipe")}}" method="POST" enctype="multipart/form-data">
			<label for="name">Recipe name</label>
			<input type="text" name="name" class="form-control" required>
			<label for="image">Upload image file</label>
			<br>
        	<input type="file" name="image" required>
        	</br>
			<label for="description">Description</label>
			<textarea name="description" class="form-control" rows="6" required></textarea>
			<label for="key_ingredient_1">Main ingredient</label>
			<input type="text" name="key_ingredient_1" class="form-control" required>
			<label for="calories">Calories</label>
			<input type="text" name="calories" class="form-control" required>
			<label for="time">Time (in minutes)</label>
			<input type="text" name="time" class="form-control" required>
			<label for="serves">Serves</label>
			<input type="text" name="serves" class="form-control" required>
			<label for="substitute_1">Subsitute ingredient</label>
			<input type="text" name="substitute_1" class="form-control">
			<button type="submit" name="action" class="btn btn-dark mt-2">Submit</button>
		</form>
	</div>
	<footer>
		<div class="text-center">
			<p class="footer">Copyright &#169; 2019</p>
		</div>
	</footer>
{% endblock %}