 <!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class=flashes>
		{% for message in messages %}
			<p class="mx-3 my-2">{{ message }}</p>
		{% endfor %}
		</div>
		{% endif %}
	{% endwith %}
</head>
<body>
	<div class="topnav">
		<div class="row">
			<a href='{{ url_for('index') }}'>Home</a>
			<a href='{{ url_for('show_all') }}'>Show Recipes</a>
			<a href='{{ url_for('by_ingredient') }}'>By Ingredient</a>
			{% if 'user' in session %}
			<a href='{{ url_for('my_recipes') }}'>My Recipes</a>
			<a href='{{ url_for('add_recipe') }}'>Add Recipe</a>
			<a href='{{ url_for('sign_out') }}'>Sign Out</a>
			{% else %}
			<a href='{{ url_for('sign_in') }}'>Sign In</a>
			<a href='{{ url_for('register') }}'>Register</a>
			{% endif %}
			<h1 class="ml-auto pr-5 text-white">DishFinder</h1>
		</div>
	</div>
{% block content %}
{% endblock %}
</body>
</html>