<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<div class="topnav">	
		<a href='{{ url_for('index') }}'>Home</a>
		{% if 'user' in session %}
		<a href='{{ url_for('sign_out') }}'>Sign Out</a>
		<a href='{{ url_for('add_recipe') }}'>Add Recipe</a>
		{% else %}
		<a href='{{ url_for('sign_in') }}'>Sign In</a>
		<a href='{{ url_for('register') }}'>Register</a>
		{% endif %}
		<a href='{{ url_for('show_recipes') }}'>Show Recipes</a>
	</div>
{% block content %}
{% endblock %}
</body>
</html>