{% extends "base.html" %}
{% block title%}Search Result{% endblock %}
{% block content %}
	<main>
		<div class="container">
			<p>Found: {{ recipes_total }}</p>
			{% for recipe in recipes %}
				<div class="col-6">
					<div class="card">
					  <img class="card-img-top" src="{{ recipe.image }}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title"><a href="{{url_for("show_single", single_id=recipe._id)}}">{{recipe.name.capitalize()}}</a></h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card"s content.</p>
					  </div>
					</div>
				</div>
		{% endfor %}
		</div>
	</main>
	<footer class="fixed">
        <div class="text-center">
            <p class="footer">Copyright &#169; 2019</p>
        </div>
	</footer>
{% endblock %}