{% extends "base.html" %}
{% block title%}Register{% endblock %}
{% block content %}
	<main>
		<div class="container w-50">
			<div class="my-5">
				<form action="{{url_for("register")}}" method="POST">
					<label for="user">Choose username</label>
					<input type="text" name="user" class="form-control" required>
					<label for="password">Choose password</label>
					<input type="password" name="password" class="form-control" required>
					<button type="submit" name="action" class="btn btn-dark mt-2">Submit</button>
				</form>
			</div>
		</div>
	</main>
	<footer class="fixed">
	        <div class="text-center">
	            <p class="footer">Copyright &#169; 2019</p>
	        </div>
	</footer>
{% endblock %}