{% extends 'base.html' %}
{% block content %}
<img src="{{ single_recipe.image }}" alt="Hint">
<h1>{{ single_recipe.name }}</1>
<p>{{ single_recipe.key_ingredient_1 }}</p>
<p>{{ single_recipe.key_ingredient_2 }}</p>
<p>{{ single_recipe.key_ingredient_3 }}</p>
<p>{{ single_recipe.description }}</p>
<p>{{ single_recipe.calories }} kcal</p>
<p>{{ single_recipe.time }} min</p>
<p>{{ single_recipe.serves }}</p>
<p>{{ single_recipe.substitute_1 }}</p>
<p>{{ single_recipe.substitute_2 }}</p>
<p>upvotes: {{ single_recipe.upvotes }} downvotes: {{ single_recipe.downvotes }}</p>
<form action='{{url_for('upvote_recipe')}}' method="POST">
	<button type='submit' name='action' class="btn btn-dark">Upvote</button>
</form>
<form action='{{url_for('downvote_recipe')}}' method="POST">
	<button type='submit' name='action' class="btn btn-dark">Downvote</button>
</form>
{% endblock %}