{% extends 'base.html' %}
{% block title%}All Recipes{% endblock %}
{% block content %}
<div class="row mt-4">
{% for recipe in recipes %}
	<div class="col-6">
		<div class="card">
		  <img class="card-img-top" src="{{ recipe.image }}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">{{recipe.name}}</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="{{url_for('show_single', single_id=recipe._id)}}">Show recipe</a>
		    <br>
		    <i class="far fa-thumbs-up fa-2x"></i>{{ recipe.upvotes }}
			<i class="far fa-thumbs-down fa-2x"></i>{{ recipe.downvotes }}
		  </div>
		</div>
	</div>
{% endfor %}
</div>
<footer>
        <div class="text-center">
            <p class="footer">Copyright &#169; 2019</p>
        </div>
</footer>
{% endblock %}