{% extends 'base.html' %}
{% block title%}Single Recipe{% endblock %}
{% block content %}
	<div class="container">
		<img src="{{ single_recipe.image }}" alt="Image">
		<h2>{{ single_recipe.name }}</h2>
		<p>{{ single_recipe.key_ingredient_1 }}, {{ single_recipe.key_ingredient_2 }}, {{ single_recipe.key_ingredient_3 }}</p>
		<p>{{ single_recipe.description }}</p>
		<p>Calories: {{ single_recipe.calories }} kcal</p>
		<p>Time: {{ single_recipe.time }} min</p>
		<p>Serves: {{ single_recipe.serves }}</p>
		<p>Substitute ingredient: {{ single_recipe.substitute_1 }}</p>
		<p>Another substitute: {{ single_recipe.substitute_2 }}</p>
	<div>
		<i class="far fa-thumbs-up fa-2x"></i>{{ single_recipe.upvotes }}<i class="far fa-thumbs-down fa-2x"></i>{{ single_recipe.downvotes }}
	</div>
	{% if 'user' in session %}
		<a href="{{url_for('upvote_recipe', single_id=single_recipe._id)}}">Upvote</a>
		<a href="{{url_for('downvote_recipe', single_id=single_recipe._id)}}">Downvote</a>		
	{% else %}
		<p>Register to vote!</p>
	{% endif %}
	</div>
{% endblock %}