{% extends "base.html" %}
{% block title%}All Recipes{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(window).on('load',function() {
            $('.loader').remove();
        })
    </script>
    <main>
        <div class="loader"></div>
        <div class="container">
            <div class="row pt-4">
            {% for recipe in recipes %}
                <div class="col-6">
                    <div class="card">
                      <a href="{{url_for("show_single", single_id=recipe._id)}}">
                        <img class="card-img-top" src="{{ recipe.image }}" alt="Card image cap">
                      </a>
                      <div class="card-body">
                        <h5 class="card-title"><a href="{{url_for("show_single", single_id=recipe._id)}}">{{recipe.name.capitalize()}}</a></h5>
                        <p class="card-text">{{ recipe.description[0:100] + "..."}}</p>
                        <i class="far fa-thumbs-up fa-2x"></i>{{ recipe.upvotes }}
                        <i class="far fa-thumbs-down fa-2x"></i>{{ recipe.downvotes }}
                      </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </main>
    <footer>
        <div class="text-center mt-4">
            <p class="footer">Copyright &#169; 2019</p>
        </div>
    </footer>
{% endblock %}