{% extends "base.html" %}
{% block title%}Sign In{% endblock %}
{% block content %}
	<div class="container w-50">
		<div class="my-5">
			<form action="{{ url_for("sign_in") }}" method="POST">
				<label for="user">Username</label>
				<input type="text" name="user" class="form-control" required>
				<label for="password">Password</label>
				<input type="password" name="password" class="form-control" required>
				<button type="submit" name="action" class="btn btn-dark mt-2">Submit</button>
			</form>
		</div>
	</div>
<footer class="fixed">
        <div class="text-center">
            <p class="footer">Copyright &#169; 2019</p>
        </div>
</footer>
{% endblock %}